<!DOCTYPE html>
<html>
<head>
    <title>QuizWhiz</title>
</head>
<body>
    <h1>Available Quizzes</h1>
    <ul id="quiz-list"></ul>

    <script>
        fetch('/api/quizzes/')
        .then(res => res.json())
        .then(data => {
            const list = document.getElementById('quiz-list');
            data.forEach(quiz => {
                const li = document.createElement('li');
                li.innerHTML = `
                    ${quiz.title} 
                    <a href="quiz.html?id=${quiz.id}">Take Quiz</a>
                `;
                list.appendChild(li);
            });
        });
    </script>
</body>
</html>